

.app-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*Bloco central do meio: coloca as 3 colunas lado a lado*/
.main-content {
    display: flex;
    flex-direction: row;
    flex: 1;        /* Ocupa todo o espaço vertical que sobrou abaixo do top-menu */
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 0;  /* ESSENCIAL: Permite que os filhos encolham/cresçam livremente */
}


.viewport-container{
  flex: 1; /* Ocupa todo o espaço horizontal restante */
  min-width: 400px; /* Garante que a viewport não fique muito estreita */
  overflow: auto; /* Permite rolagem se o conteúdo for maior que a área visível */

  /*border: 2px solid #ffff55;
  background-color: rgba(255, 255, 0, 0.3);*/
}



.status-bar{
  border: 2px solid #ff55ff;
}

.workspace-main-container {
    display: flex;
    flex-direction: column;
    flex: 1;        /* Ocupa todo o espaço horizontal restante ao lado da sidebar */
    width: 0;       /* Evita que estoure a largura */
    min-width: 0;
    height: 100%;   /* Força a herdar 100% da altura do .main-content */
    overflow: hidden;
    background-color: var(--bg-primary);
}